body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  
  /*Start of code for the navbar*/
header {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #242424;
  color: #FFFFFF;
  z-index: 2;
}

.logo {
  width: 300px;
  height: 200px;
  margin-left: -300px;
}

.nav {
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.navlink {
  list-style: none;
  margin: 0;
}

.navlink a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.burger {
  font-size: 1.2em;
  display: none;
}

@media screen and (max-width: 978px) {
  .burger {
      display: block;
  }
  .nav {
      margin: 0;
      background: #242424;
      position: absolute;
      right: -100%;
      top: 70px;
      width: 50%;
      height: calc(100% - 70px);
      flex-direction: column;
      justify-content: space-around;
      padding: 0;
      transition: all 400ms;
      z-index: 2;
  }
  .navlink {
      text-align: center;
  }

  .nav-active {
      right: 0;
  }
  .logo {
    width: 300px;
    height: 200px;
    margin-left: -40px;
  }
}


/*End of code for the navbar*/




 /*Start of code for the banner img*/
 .banner {
  max-width: 100%;
  overflow: hidden;
  max-height: 600px;
}

.banner img {
  width: 100%;
  height: 600px;
  display: block;
  overflow: clip;
}

@media screen and (max-width: 768px) {
  .banner {
    max-width: 100%;
    overflow: hidden;
    max-height: 600px;
  }
  
  .banner img {
    width: 100%;
    height: 200px;
    display: block;
    overflow: clip;
  }
  
}

/*End of code for the banner img*/



  /*intensive course*/


  h2{
    text-align: center;
  }

  p{
    text-align: center;

  }
  
  @media screen and (max-width: 768px) {
    /* Adjust styles for smaller screens */
    .main h1 {
      font-size: 24px;
    }
  }
  
  @media screen and (max-width: 576px) {
    /* Further adjustments for even smaller screens */
    .main h1 {
      font-size: 20px;
    }
  }

  .shadow-box {
    display: inline-block;
    padding: 1.25rem;
    border-radius: 8px;
    background-color: #1f4959;
    box-shadow: 10px 14px 18px 10px rgba(0, 0, 0, 0.1);
  }
  
  .table-section2 {
    text-align: center;
    padding: 2.5rem 0;
    color: white;
  }
  
  .custom-table2 {
    width: 100%; /* Changed to 100% */
    margin: 0 auto;
    border-collapse: collapse;
    border: 1px solid #5c7c89;
  }
  
  .custom-table2 th,
  .custom-table2 td {
    padding: 0.625rem;
    border: 1px solid #5c7c89;
  }
  
  .new-section p {
    font-size: 1rem;
  }
  
  /* Media queries */
  @media (min-width: 768px) {
    .custom-table2 {
      width: 55%; /* Adjusted to 75% */
    }
  }
  
  @media (min-width: 1024px) {
    .custom-table2 {
      width: 50%; /* Adjusted back to 50% */
    }
  }
  

  /*Start of code for the top footer*/
.footer-distributed {
  background-color: #5c7c89;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;

  padding: 55px 50px;
  margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
  width: 40%;
}

/* The company logo */

.footer-distributed h3 {
  color: #ffffff;
  font: normal 36px 'Cookie', cursive;
  margin: 0;
}

.footer-distributed h3 span {
  color: #1f4959;
}

/* Footer links */

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: black;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center .fa {
  font-size: 15px;
  line-height: 28px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: #1f4959;
  text-decoration: none;
}

/* Footer Right */

.footer-distributed .footer-right {
  width: 20%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {
  .footer-distributed {
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i {
    margin-left: 0;
  }
}

/*end of top footer*/



/*start of bottom footer*/
footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 20px; /* Adjust padding for smaller screens */
  }
}
