body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  
  /*Start of code for the navbar*/
header {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #242424;
  color: #FFFFFF;
  z-index: 2;
}

.logo {
  width: 300px;
  height: 200px;
  margin-left: -300px;
}

.nav {
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.navlink {
  list-style: none;
  margin: 0;
}

.navlink a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.burger {
  font-size: 1.2em;
  display: none;
}

@media screen and (max-width: 978px) {
  .burger {
      display: block;
  }
  .nav {
      margin: 0;
      background: #242424;
      position: absolute;
      right: -100%;
      top: 70px;
      width: 50%;
      height: calc(100% - 70px);
      flex-direction: column;
      justify-content: space-around;
      padding: 0;
      transition: all 400ms;
      z-index: 2;
  }
  .navlink {
      text-align: center;
  }

  .nav-active {
      right: 0;
  }
  .logo {
    width: 300px;
    height: 200px;
    margin-left: -40px;
  }
}


/*End of code for the navbar*/




  /*Start of code for the banner img*/
  .banner {
    max-width: 100%;
    overflow: hidden;
    max-height: 600px;
  }
  
  .banner img {
    width: 100%;
    height: 600px;
    display: block;
    overflow: clip;
  }

  @media screen and (max-width: 768px) {
    .banner {
      max-width: 100%;
      overflow: hidden;
      max-height: 600px;
    }
    
    .banner img {
      width: 100%;
      height: 200px;
      display: block;
      overflow: clip;
    }
    
  }
  
  /*End of code for the banner img*/



/*Start of code for the price*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
* {
  box-sizing: border-box;
}

li {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.container {
  display: flex;

  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  width: 95%;
  max-width: 1240px;
  margin-bottom: 25px
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.pricing h1 {
  color: hsl(232, 13%, 33%);
  margin-top: 20px;
}
.pricing {
  margin-top: 20px;
}

.toggle-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.toggle-container label {
  background-image: linear-gradient(
    to right,
    hsl(236, 72%, 79%),
    hsl(237, 63%, 64%)
  );
  border-radius: 50px;
  cursor: pointer;
  display: inline-block;
  margin: 0 10px;
  position: relative;
  height: 30px;
  width: 60px;
}

.toggle-container label .ball {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2.5px;
  left: 2.5px;
  height: 25px;
  width: 25px;
  transition: transform 0.4s ease;
}

.toggle-container input {
  position: absolute;
  left: -9999px;
}

.toggle-container input:checked + label .ball {
  transform: translateX(30px);
}

.price-panel {
  background-color: #fff;
  padding: 30px;
  width: 300px;
  text-align: center;
  font-family: inherit;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  /* height: 60vh; */
}

.price-panel h2 {
  font-size: 50px;
  margin: 0;
}

.price-panel h4 {
  margin: 0 0 10px 0;
}

.price-panel ul {
  padding: 0px;
  color: hsl(233, 13%, 49%);
  text-align: center;
  border-top: solid 1px hsl(234, 14%, 74%);
}

.price-panel ul li {
  padding: 15px 0;
  font-size: 14px;
  border-bottom: solid 1px hsl(234, 14%, 74%);
}

.price-panel.premium {
  background-image: linear-gradient(hsl(197, 48%, 24%), #5c7c89);
  color: #fff;
  transform: scale(1.1);
  z-index: -1;
}

.price-panel.premium ul li {
  color: #fff;
}

.btn-pro {
  color: hsl(237, 63%, 64%);
  background-image: none;
  background-color: #fff;

}

.button {
  margin-top: 20px;
  padding: 15px;
  width: 100%;
  color: #fff;
  background-image: linear-gradient(
    to right,
    hsl(236, 72%, 79%),
    hsl(237, 63%, 64%)
  );
  text-transform: uppercase;
  font-family: inherit;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 1px;
  border: none;
  border-radius: 5px;
}

button:hover,
btn-pro:hover {
  cursor: pointer;
}

.price-panel .monthly {
  display: none;
}

.show-monthly .price-panel .monthly {
  display: block;
}

.show-monthly .price-panel .annually {
  display: none;
}

@media (max-width: 995px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .price-panel.premium {
    transform: scale(1);
  }
}

/*End of code for the price*/

/*Start of code for the top footer*/
.footer-distributed {
  background-color: #5c7c89;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;

  padding: 55px 50px;
  margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
  width: 40%;
}

/* The company logo */

.footer-distributed h3 {
  color: #ffffff;
  font: normal 36px 'Cookie', cursive;
  margin: 0;
}

.footer-distributed h3 span {
  color: #1f4959;
}

/* Footer links */

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: black;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center .fa {
  font-size: 15px;
  line-height: 28px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: #1f4959;
  text-decoration: none;
}

/* Footer Right */

.footer-distributed .footer-right {
  width: 20%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {
  .footer-distributed {
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i {
    margin-left: 0;
  }
}

/*end of top footer*/



/*start of bottom footer*/
footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 20px; /* Adjust padding for smaller screens */
  }
}
